@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&family=Mulish:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: 'Mulish', sans-serif;
    
}

header,  footer{
    padding: 30px 135px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check-btn{
    font-size: 20px;
    color: #5A5A5D;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
nav img{
    width: 3.5rem;
    height: 3rem;
}
.nav-title{
    display: inline;
    font-size: 2.25rem;
    font-weight: 800;
    height: 3rem;
    width: 201px;
}

nav h3{
    margin-left: 1rem;
}
span{
    color: #FF5400;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 2.75rem;
    font-weight: 400;
    font: 1rem;
}
nav li a{
    color: var(--Dark-02, #424247);
    text-decoration: none;
}
.banner{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 1rem;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.banner-background{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 1rem;
    text-align: center;
    width: 100%;
}
.banner-title{
    padding-top: 105px;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.banner-text{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.banner-form{
    margin-top: 50px;
    margin-left: 180px;
    display: flex;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    height: 56px;
    width: 800px;
    justify-content: space-between;
}
.banner-form input{
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    padding: 16px;
    font-size: 1rem;
    font-weight: 400;
    height: 52px;
    width: 174px;
    border: none;
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    height: 52px;
    width: 174px;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}
.tours,
.destination-section,
.service-section,
.form-section{
    padding: 30px 135px;
}
.tours-content{
    display: flex;
    gap: 20%;
}
/* .tours-content p{
    margin-bottom: 32px;
} */
.tours .btn-primary{
    margin-top: 25px;
}
.section-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.section-text, .section-title ul{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 46px;
}
.destination-section-content{
    text-align: center;
}
.destination-img img{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
}
#img-1, #img-3, #img-4, #img-6{
    margin-right: 24px;
}
#img-1, #img-2, #img-3, #img-4, #img-5{
    margin-bottom: 24px;
}

.service-content {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.service-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 537px;
    height: 225px;
    padding: 32px;
}
.service-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 537px;
    height: 225px;
    padding: 32px;
}
.service-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 537px;
    margin-right: -400px;
    height: 225px;
    padding: 32px;
    margin-left: 310px;
}

.form-section{
    margin-top: 100px;
}
.form-content{
    display: flex;
    gap: 65px;
}
.form{
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 447px;
    height: 422px;
    padding-left: 40px;
}
.form h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 0%;
}
.form p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    width: 350px;
    margin-bottom: 0%;
}
.form hr{
    width: 400px;
    margin-left: -1px ;
}
.form-content img{
    height: 422px;
}
.form input{
    display: flex;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    height: 52px;
    margin-right: 40px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding-left: 20px;
    border:none;
}
.form button{
    margin-top: px;
    margin-bottom: 10px;
    margin-right: 40px;
    width: 415px;
    height: 52px;
    font-size: 20px;
    font-weight: 800;
}
footer{
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}
footer .nav-img{
    margin-bottom: -10px;
    height: 40px;
    width: 46px;
}
footer .nav-title{
    font-size: 2rem;
    font-weight: 800;
    margin-top: -10px;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 24px;
}
hr{
    margin-top: 50px;
    margin-bottom: 50px;
}
.save{
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 200px;
    transform: rotate(-20deg);
    width: 324px;
    margin-left: 324px;
}
.save p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 4px;
}
.save h3{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0%;
}



/* responsive media queries */

/* mobile devices */
@media screen and (max-width: 600px) {
    
    header{
        padding: 20px;
    }
    nav,
    nav > ul,
    .banner,
    .tours-content,
    .form-content,
    .title-name,
    .destination-section,
    .destination-section-content,
    .form-section
    {
        flex-direction: column;
    }
    /* nav > ul{
        display: none;
    } */
    .banner-img img{
        width: 100%;
        margin: 0%;
    }
    .title-name, .check-btn{
        display: block;
    }
    .banner-title,
    .section-title,
    footer .nav-title
    {
        padding-top: 30px;
        font-size: 22px;
    }
    .banner-form{
        flex-direction: column;
        height: auto;
        width: 175px;
        gap: 10px;
        margin-left: 50px;
        padding: 16px;
    }
    .tours,
    .destination-section,
    .service-section,
    .form-section
    {
        padding: 0%;
    }
    main{
        padding: 16px;
        flex-direction: column;
    }
    .tours-img img,
    .destination-img img
    {
        height: 100%;
        width: 100%;
        padding-top: 10px;
    }
    .service-content{
        margin: 0%;
        grid-template-columns: 1fr;
        width: 250px;
    }
    .form-section{
        margin-top: 20px;
        
    }
    .form{
        width: 300px;
    }
    .form h3, .form p, .form hr, .form input
    {
        width: 220px;
        padding-left: 0%;
    }
    .form button{
        width: 220px;
        padding-left: 0%;
    }
    .form-content img{
        margin-top: -50px;
        height: 330px;
        width: 340px;
        margin-bottom: 0%;
    }
    .form-content p{
        font-size: 15px;
    }
    .form-content h3{
        font-size: 21px;
    }
    .form-content .save{
        width: 214.023px;
        height: 79.268px;
        margin: 0%;
        margin-left: 100px;
        margin-top: 74px;
    }
    .service-3{
        margin-left: 0%;
    }
    .service-1, .service-2, .service-3{
        width: 275px;
        height: auto;
    }
    footer{
        margin-top: -150px;
        padding: 0%;
        padding-bottom: 20px;
        padding-top: 16px;
    }
    footer hr{
        width: 70%;
    }
    footer .footer-container{
        padding-left: 16px;
        padding-right: 16px;
    }

}